<div class="row">
    <form action="/Home/Ask" method="post">
       <input type="text" name="title" />
       <textarea name="content"></textarea>
       <input type="submit" value="Ask"/>
    </form>
</div>